{{#each this}}
<li {{id}} class="card__item">
    <div class="card__thumb">
        <img class="card__photo" src="{{poster}}" alt="{{title}}" width="280" height="402">
    </div>
    <h2 class="card__title">{{original_title}}</h2>
    <div class="container__genre">
        <p class="card__genre">{{genres}}</p>
        <p class="card__data"> | {{release_year}}</p>
    </div>
</li>
{{/each}}

