<div class="modal-card modal-card__scroll" data-action="{{id}}">
            <div class="modal__container__info">
                <img src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" class="modal__img__film" />
                <div class="modal__container__tablet">
                    <h2 class="modal__card__title">{{title}}</h2>
        
                    <div class="modal__container__card">
                        <ul class="modal__card__modal__list_rigth">
                            <li class="modal__card__modal__item">
                                Vote / Votes
                            </li>
                            <li class="modal__card__modal__item">
                                Popularity
                            </li>
                            <li class="modal__card__modal__item">
                                Original Title
                            </li>
                            <li class="modal__card__modal__item modal__card__modal__item--margin modal__card__modal__item--genres">
                                <p class="genre__item">Genre</p>
                                 <p class="genre__item__list"> {{#each genres}}
                                <span class="modal__genre__item modal__genre__item__genre__color">{{this.name}}</span>
                                {{/each}} </p>
                            </li>
                        </ul>
        
                        <ul class="modal__card__modal__list_left">
                            <li class="modal__card__modal__item modal__card__modal__item--change__color__background">
                                <span class="modal__color__vote">{{vote_average}}</span> /
                                <span class="modal__color__votes">{{vote_count}}</span>
                            </li>
                            <li class="modal__card__modal__item modal__card__modal__item--change__color">
                                {{popularity}}
                            </li>
                            <li class="modal__card__modal__item modal__card__modal__item--change__color">
                                {{original_title}}
                            </li>
                            {{!-- <li class="modal__card__modal__item modal__card__modal__item--change__color">
                                {{#each genres}}
                                <span class="modal__genre__item">{{this.name}}</span>
                                {{/each}}
                            </li> --}}
                        </ul>
                    </div>
                    <h3 class="modal__card__title_info">ABOUT</h3>
                    <ul class="modal__card__modal__list__bottom">
        
                        <li class="modal__card__modal__item__text">
                            <p class="modal__card_modal_item_more">
                                {{overview}}
                            </p>
                        </li>
                    </ul>
                    <div class="modal__container__btn">
                        <button class="modal__btn__watched js__modal__watched">ADD TO WATCHED</button>
                        <button class="modal__btn__queue js__modal__queue">ADD TO QUEUE</button>
                    </div>
                </div>
        </div>
        <div class="modal-close-btn">Close</div>
    </div>